<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="template.css">
</head>

body {background-color: powerblue;}
<h1 style="color:blue;">Story of my Life</title</h1>
<p style="color:red;">Lifetsyle.</p>
</head>
<body>
<header>

<a href="index.html">
<ing src: "C:\Users\NUC 3\Desktop\BIT 2 - A DAY\korean.jpg">
<style>

li{
 font size : 100px;
 }
 img{
 width: 100px;
 height: 100px;
 
 }
                                                     </style>
                                                     <ul>
                                                     <h1> Welcome to my life <h1>
                                                     <p>Hi I'm Rena!</p>
                                                     </ul>

                                    <ul>
                                    <li><a href="index.html">HOME<a/> </li>
                                    <li><a href="index.html">PRODUCTS<a/> </li>
                                    <li><a href="index.html">ABOUT<a/> </li>
								    <li><a href="index.html">CONTACT<a/> </li>
                                    </ul>

<img src="kor.png"> 
 </img>
 
 
<style>
body{
background-image: url('korean.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-color: 100% 100%;
}
</style>
<p>korean!</p>
<img src="C:\Users\NUC 3\Desktop\BIT 2 - A DAY\korean.jpg">
 </img>
 
 
</body>
</html>
